@model ShareIT.Models.Post
@{
    ViewBag.Title = "Afisare postare";
}

<div class="IndexMessageShow">
    <h2>Afisare postare</h2>

    <a class="btn btn-info" href="/Posts/Index" style="        background-color: #36b4e8; color: black;">Inapoi la lista postarilor</a>
    <a class="btn btn-info" href="/Posts/New" style="        background-color: #36b4e8; color: black;">Adauga alta postare</a>
    <br />
</div>
<br />
<div class="containerShow">
    <div class="panel panel-default panelGroup">
        <div class="panel-heading showHeader">@Model.Title</div>
        <div class="panel-body text-center">
            <strong>@Model.Content</strong>
            <br /><br />
            <i class="glyphicon glyphicon-user"></i> <i>Autor postare: </i>
            <strong> @Model.User.UserName </strong>
            <br />
            <span class="label label-success" style="background-color:#36b4e8;">@Model.Date</span>

            <br />
            <hr>
            @if (User.IsInRole("Admin") || (User.IsInRole("User") && @Model.UserId == ViewBag.UserId))
            {
                <a class="btn btn-success pull-left" style="background-color:#36b4e8;"
                   href="/Posts/Edit/@Model.Id">Modifica postare</a>
                <form method="post" action="/Posts/Delete/@Model.Id">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger pull-right" type="submit">
                        Sterge postare
                    </button>
                </form>
            }
        </div>
    </div>
    <br />
</div>

<div class="containerShow">
    @foreach (var comm in Model.Comments)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 panelGroup text-center">
                    <div>
                        <i class="glyphicon glyphicon-user"></i>
                        <small> @comm.User.UserName </small>
                        <br />
                        <p>@comm.Content</p>
                        <small class="pull-right">@comm.Date</small>
                    </div>
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        @if (User.IsInRole("Admin") || (User.IsInRole("User") && comm.UserId == ViewBag.UserId))
                        {
                            <a class="glyphicon glyphicon-pencil"
                               href="/Comments/Edit/@comm.CommentId"></a>
                        }
                    </div>

                    <div style="display: inline-block; float : left">
                        @if (User.IsInRole("Admin") || (User.IsInRole("User") && comm.UserId == ViewBag.UserId))
                        {
                            <form method="post" action="/Comments/Delete/@comm.CommentId">
                                @Html.HttpMethodOverride(HttpVerbs.Delete)
                                <button class="glyphicon glyphicon-trash" style="border: none;
background: transparent" type="submit"></button>
                            </form>
                        }
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <hr />
    }
    @if (User.IsInRole("Admin") || User.IsInRole("User"))
    {
        <div class="container ">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 ">
                    <div class="panel">
                        @using (Html.BeginForm(actionName: "New", controllerName: "Comments"))
                        {
                            <div class="panel-body panelGroup text-center">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                <input class="inpShow" type="hidden" name="PostId" value="@Model.Id" />
                                @Html.Label("Content", "Continut Comentariu")
                                <br />
                                <textarea class="form-control inpShow" name="Content"></textarea>
                                @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                                <br />
                                <button class="btn btn-success " style="background-color:#36b4e8;" type="submit">
                                    Adauga comentariu
                                </button>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    }
    else
    {
        <p class="CreateAcc"> Creeaza un cont pentru a putea comenta! :) </p>
    }
</div>
