@model ShareIT.Models.Post
@{
    ViewBag.Title = "Afisare postare";
}

<h2>Afisare postare</h2>

@*<h1>@ViewBag.Posts.Title</h1>
    <p>@ViewBag.Posts.Content</p>
    <small>@ViewBag.Posts.Date</small>
    <br />
    <a href="/Posts/Edit/@ViewBag.Posts.Id">Modifica postare</a>

    <form method="post" action="/Posts/Delete/@ViewBag.Posts.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Sterge postarea</button>
    </form>
    <hr />*@
<a href="/Posts/Index">Inapoi la lista postarilor</a>
<br />
<a href="/Posts/New">Adauga alta postare</a>
<br />


<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        Continut postare: <strong>@Model.Content</strong>
        <br />
        <i class="glyphicon glyphicon-user"></i> <i>Autor postare: </i>
        <strong> @Model.User.UserName </strong>
        <br />
        <span class="label label-success">@Model.Date</span>

        <br />
        <hr>
        @if (User.IsInRole("Admin") || (User.IsInRole("User") && @Model.UserId == ViewBag.UserId))
        {
            <a class="btn btn-success pull-left"
               href="/Posts/Edit/@Model.Id">Modifica postare</a>
            <form method="post" action="/Posts/Delete/@Model.Id">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger pull-right" type="submit">
                    Sterge postare
                </button>
            </form>
        }
    </div>
</div>
<br />

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <i class="glyphicon glyphicon-user"></i>
                    <small> @comm.User.UserName </small>
                    <br />
                    <p>@comm.Content</p>
                    <small class="pull-right">@comm.Date</small>
                </div>
                <div style="display: inline-block; float : left; margin-right: 15px">
                    @if (User.IsInRole("Admin") || (User.IsInRole("User") && comm.UserId == ViewBag.UserId))
                    {
                        <a class="glyphicon glyphicon-pencil"
                           href="/Comments/Edit/@comm.CommentId"></a>
                    }
                </div>

                <div style="display: inline-block; float : left">
                    @if (User.IsInRole("Admin") || (User.IsInRole("User") && comm.UserId == ViewBag.UserId))
                    {
                        <form method="post" action="/Comments/Delete/@comm.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none;
background: transparent" type="submit"></button>
                        </form>
                    }
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <hr />
}
@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="panel">
                    @using (Html.BeginForm(actionName: "New", controllerName: "Comments"))
                    {
                        <div class="panel-body">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <input type="hidden" name="PostId" value="@Model.Id" />
                            @Html.Label("Content", "Continut Comentariu")
                            <br />
                            <textarea class="form-control" name="Content"></textarea>
                            @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                            <br />
                            <button class="btn btn-success " type="submit">
                                Adauga comentariu
                            </button>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}
else
{
    <p> Creeaza un cont pentru a putea comenta! :) </p>
}