@model ShareIT.Models.Profile

@{
    ViewBag.Title = "Edit";
}

<form method="post" action="/Profiles/Edit/@Model.ProfileId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Hidden("ProfileId")

    @Html.Label("ProfileName", "Nume Profil")
    <br />
    @Html.Editor("ProfileName")
    <br /> <br />
    @Html.Label("ProfileDescription", "Descriere profil")
    <br />
    @Html.EditorFor(m => m.ProfileDescription)
    <br /> <br />
    @Html.Hidden("Date")
    <br />
    @Html.Label("PrivateProfile", "Tip profil")
    <br />
    Privat: @Html.RadioButtonFor(m => m.PrivateProfile, true)
    Public: @Html.RadioButtonFor(m => m.PrivateProfile, false)
    <br />
    <hr />
    <button class="btn btn-success" type="submit">Modifica profil</button>
</form>

