@model ShareIT.Models.Profile
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Show profile";
}
<br />
<a style="        background-color: #36b4e8; font-family: 'Audiowide', cursive;" class="btn btn-info" href="/Profiles/Index">Back to profiles</a>
<br />
@if (Model.UserId == User.Identity.GetUserId())
{
    <h1> @ViewBag.Warning </h1>
}

@if (Model.PrivateProfile == true)
{
    if (ViewBag.sentRequest == true)
    {
        <br />
        <p style="font-family: 'Audiowide', cursive;"> Cerere trimisa! </p>
    }
    else if (ViewBag.friend == true)
    {
        <p style="font-family: 'Audiowide', cursive;"> Prieten </p>
    }
    else if (ViewBag.sameUser == true)
    {
        <p></p>
    }
    else if (ViewBag.noButton == true)
    {
        <p></p>
    }
    else
    {
        <a class="btn btn-info" href="/Profiles/SendRequest/@Model.ProfileId">Adauga prieten</a>
    }
}

@if ((User.IsInRole("Admin") || @Model.UserId == ViewBag.UserId) || @Model.PrivateProfile == false)
{
<div class="divButoane container text-center">
    @if (User.IsInRole("Admin"))
    {
        <a style="        background-color: #36b4e8; color: black;" class="btn btn-info" href="/Profiles/New">Adauga profil</a>
    }
    @if (ViewBag.sentRequest == true)
    {
        <br />
        <p style="font-family: 'Audiowide', cursive; color:black; margin-top:-20px"> Cerere trimisa! </p>
    }
    else if (ViewBag.friend == true)
    {
        <br />
        <p style="font-family: 'Audiowide', cursive;"> Prieten </p>
    }
    else if (ViewBag.sameUser == true)
    {
        <a style="        background-color: #36b4e8; color: black;" class="btn btn-info" href="/Profiles/FriendRequests/@Model.ProfileId">Cereri de prietenie</a>
    }
    else if (ViewBag.noButton == true)
    {
        <p></p>
    }
    else
    {
        <a class="btn btn-info" href="/Profiles/SendRequest/@Model.ProfileId">Adauga prieten</a>
    }
    <a style="        background-color: #36b4e8; color: black;" class="btn btn-info" href="/Profiles/Friends/@Model.ProfileId">Prieteni</a>
    <a style="        background-color: #36b4e8; color: black;" class="btn btn-info" href="/Profiles/JoinedGroups/@Model.ProfileId">Grupuri</a>
</div>
    <br />
    <br />
    <div class="panel panel-default groupInfo">
        <div class="panel-heading text-center">@Model.ProfileName</div>
        <div class="panel-body text-center">
            <strong>@Model.ProfileDescription</strong>
            <br /> <br />
            Profilul este: @if (@Model.PrivateProfile == true)
            {
                <text>privat</text>
            }
            else
            { <text>public</text>}
            <br />
            <i class="glyphicon glyphicon-user"></i>
            <strong> @Model.User.UserName </strong>
            <br />
            <span style="        background-color: #36b4e8;" class="label label-success">@Model.SignUpDate</span>
            <br />
            <hr>
            @if (User.IsInRole("Admin") || (User.IsInRole("User") && @Model.UserId == ViewBag.UserId))
            {
                <a style="        background-color: #36b4e8; color: black;" class="btn btn-info pull-left" href="/Profiles/Edit/@Model.ProfileId">Modifica profilul</a>
                <form method="post" action="/Profiles/Delete/@Model.ProfileId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger pull-right" type="submit">Sterge profil</button>
                </form>
            }
        </div>
    </div>
    <br />
    <h2 class="text-center" style="font-family: 'Audiowide', cursive;">Postari</h2>
    <br />
    foreach (var post in ViewBag.Posts)
    {

        <div class="panel panel-default GroupPosts">
            <div class="panel-heading text-center">@post.Title</div>
            <div class="panel-body text-center">
                <strong>@post.Content</strong>
                <br />
                <span style="background-color: #36b4e8;" class="label label-success">@post.Date</span>

                <br />


            </div>

            <div class="panel panel-footer text-center" style="background-color: transparent;">
                <a style="        background-color: #36b4e8; color: black;" class="btn btn-info btn btn-sm" href="/Posts/Show/@post.Id">Afisare postare</a>

            </div>
        </div>
        <br />
        <hr />
    }
}
else
{
    <div class="panel panel-default" style="padding-top: 10px; padding-left: 10px;">
        <p style="font-family: 'Audiowide', cursive;"> Acest profil este privat. </p>
    </div>
}
