@model ShareIT.Models.Profile
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Show profile";
}
<br />
<a href="/Profiles/Index">Back to profiles</a>
<br />
@if (Model.UserId == User.Identity.GetUserId())
{
    <h1> @ViewBag.Warning </h1>
}


@if ((User.IsInRole("Admin") || @Model.UserId == ViewBag.UserId) || @Model.PrivateProfile == false)
{
    if (User.IsInRole("Admin"))
    {
        <a class="btn btn-info" href="/Profiles/New">Adauga profil</a>
    }
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">@Model.ProfileName</div>
        <div class="panel-body">
            Descriere profil: <strong>@Model.ProfileDescription</strong>
            <br /> <br />
            Profilul este: @if (@Model.PrivateProfile == true)
            {
                <text>privat</text>
            }
            else
            { <text>public</text>}
            <br />
            <i class="glyphicon glyphicon-user"></i>
            <strong> @Model.User.UserName </strong>
            <br />
            <span class="label label-success">@Model.SignUpDate</span>
            <br />
            <hr>
            @if (User.IsInRole("Admin") || (User.IsInRole("User") && @Model.UserId == ViewBag.UserId))
            {
                <a class="btn btn-success pull-left" href="/Profiles/Edit/@Model.ProfileId">Modifica profilul</a>
                <form method="post" action="/Profiles/Delete/@Model.ProfileId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-danger pull-right" type="submit">Sterge profil</button>
                </form>
            }
        </div>
    </div>
    foreach (var post in ViewBag.Posts)
    {

        <div class="panel panel-default">
            <div class="panel-heading">@post.Title</div>
            <div class="panel-body">
                Continut postare: <strong>@post.Content</strong>
                <br />
                <span class="label label-success">@post.Date</span>

                <br />


            </div>

            <div class="panel panel-footer">
                <a class="btn btn-success btn btn-sm" href="/Posts/Show/@post.Id">Afisare postare</a>

            </div>
        </div>
        <br />
        <hr />
    }
}
else
{
    <div class="panel panel-default">
        <p> Acest profil este privat. </p>
    </div>
}
